.clear-completed {
    background: transparent;
    color: var(--primary-color);
    border: 0.0625rem solid var(--primary-color);
    padding: 0.625rem 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.875rem;
    margin-top: 0.9375rem;
    transition: all 0.3s ease;
}

.clear-completed:hover {
    background: var(--primary-color);
    color: white;
}